version: "3.8"
services:
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: frontend-app
    ports:
      - "80:80"
    networks:
      - appnet
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend-app
    ports:
      - "86:80"
    environment:
      - DB_HOST=mysql
      - DB_USERNAME=admin
      - DB_PASSWORD=Devops123
      - PORT=3306
    networks:
      - appnet
    depends_on:
      - mysql

  mysql:
    build:
      context: ./mysql
      dockerfile: Dockerfile
    container_name: mysql-db
    environment:
      - MYSQL_ROOT_PASSWORD=Cloud122
      - MYSQL_DATABASE=test
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=Devops123
    ports:
      - "3306:3306"
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

